<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Fixed 1-column layout (basic)</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="reset.css" media="screen" />
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>
<body>
<div id="title">
  <div id="header">
    <h1>site title</h1>
    <h2>fixed 1-column layout (basic)</h2>
  </div>
  <!--//end #headern//-->
  <div id="fauxRightColumn">
    <h2>fauxRightColumn</h2>
    <ul id="nav">
      <li><a href="#">Link Item</a></li>
      <li><a href="#">Link Item</a></li>
      <li><a href="#">Link Item</a></li>
    </ul>
    <p>Augur et fulgente decorus arcu Phoebus acceptusque novem Camenis, qui salutari levat arte fessos corporis artus.</p>
  </div>
  <!--//end #fauxRightColumn//-->
  <h2>기사 제목:</h2>
  <p>기사 내용: </p>
  <div id='button'>
    		<form action="/result">
    			<input type=submit value='clean 댓글 보기'>
    		</form>
    	</div>
  <blockquote>
    <p><strong>blockquote</strong><br />
      Augur et fulgente decorus arcu Phoebus acceptusque novem Camenis, qui salutari levat arte fessos corporis artus.</p>
  </blockquote>
  <div id="footer"> <a target="_blank" href="http://validator.w3.org/" title="W3C HTML Validation">XHTML</a> | <a target="_blank" href="http://jigsaw.w3.org/css-validator/validator-uri.html" title="W3C CSS Validation">CSS</a> | <a target="_blank" href="http://www.w3.org/TR/WCAG10/" title="Web Content Accessibility Guidelines">WCAG</a> | <a target="_blank" rel="nofollow" href="http://www.csstinderbox.com">The CSS Tinderbox</a>
    </p>
  </div>
  <!--//end #footer//-->
</div>
<!--//end #title//-->
</body>
</html>
