<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>GRAD-Project</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css') }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen" />
</head>
<body>
<div id="title">
  <center>
  <div id="header">
    <h1>플젝 최종 제목</h1>
    <h2>화학과 1512136 고수연, 1613362 김영빈</h2>
  </div>
  <!--//end #headern//-->
  <blockquote>
    <p><b>기사 크롤링</b> > 본문 > 댓글 분석 > 결과</p>
  </blockquote>
  <h2>원하는 기사를 골라주세요</h2>
  <br>
  <div>
    <button id="natebtn" type="button"><img src="nate.png" alt="네이트 로고"/></button>
    <script text="text/javascript">
      $("#natebtn").click(function() {
        $("#naver").hide();
        $("#daum").hide();
        $("#nate").show();
      });
    </script>
    <button id="naverbtn" type="button"><img src="naver.png" alt="네이버 로고"/></button>
    <script text="text/javascript">
      $("#naverbtn").click(function() {
        $("#nate").hide();
        $("#daum").hide();
        $("#naver").show();
      });
    </script>
    <button id="daumbtn" type="button"><img src="daum.png" alt="다음 로고"/></button>
    <script text="text/javascript">
      $("#daumbtn").click(function() {
        $("#nate").hide();
        $("#naver").hide();
        $("#daum").show();
      });
    </script>
    <div id="nate">
      <form method=post action="/title">
        <button id="nate_1" value = {{link[0]}}>{{title[0]}}</button>
        <br>
        <button id="nate_2" value = {{link[1]}}>{{title[1]}}</button>
        <br>
        <button id="nate_3" value = {{link[2]}}>{{title[2]}}</button>
        <br>
        <button id="nate_4" value = {{link[3]}}>{{title[3]}}</button>
        <br>
        <button id="nate_5" value = {{link[4]}}>{{title[4]}}</button>
      </form>
    </div>
    <br>
    <div id="naver">
      <form method=post action="/title">
        <button id="naver_1">{{title[0]}}</button>
        <br>
        <button id="naver_2">{{title[1]}}</button>
        <br>
        <button id="naver_3">{{title[2]}}</button>
        <br>
        <button id="naver_4">{{title[3]}}</button>
        <br>
        <button id="naver_5">{{title[4]}}</button>
      </form>
    </div>
    <br>
    <div id="daum">
      <form method=post action="/title">
        <button id="daum_1">{{title[0]}}</button>
        <br>
        <button id="daum_2">{{title[1]}}</button>
        <br>
        <button id="daum_3">{{title[2]}}</button>
        <br>
        <button id="daum_4">{{title[3]}}</button>
        <br>
        <button id="daum_5">{{title[4]}}</button>
      </form>
    </div>
  </div>
  <div id="footer"> <a target="_blank" href="http://validator.w3.org/" title="W3C HTML Validation">XHTML</a> | <a target="_blank" href="http://jigsaw.w3.org/css-validator/validator-uri.html" title="W3C CSS Validation">CSS</a> | <a target="_blank" href="http://www.w3.org/TR/WCAG10/" title="Web Content Accessibility Guidelines">WCAG</a> | <a target="_blank" rel="nofollow" href="http://www.csstinderbox.com">The CSS Tinderbox</a>
  </div>
  <!--//end #footer//-->
  </center>
</div>
<!--//end #title//-->
</body>
</html>
