<!doctype html>
<html>
<head>
    <title>Khemi_GRAD project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jua">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum Gothic">
</head>
<body>
    <div id="header">
        <h1><br>EUTOPIA</h1>
        <h2>화학과 1512136 고수연, 1613362 김영빈</h2>
      </div>
      <center>
      <!--//end #headern//-->
      <div id="pptlike">
      <blockquote>
        <p>기사 크롤링 > 본문 > <b>댓글 분석</b> > 결과</p>
      </blockquote>
      </center>
    <h3>훈련 시키지 않았습니다. 이용해 주셔서 감사합니다.</h3>

    <div id='button'>
        <form action="/">
            <input type=submit value='다른 기사 clean 댓글 보러가기'>
        </form>
    </div>
</div>
</body>
</html>