<!doctype html>
<html>
<head>

    <title>Khemi_GRAD project</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jua">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum Gothic">
</head>
<body>
    <div id="pptlike">
    <div id="pptlike2"></div>
    <h3>훈련이 완료 되었습니다. 이용해 주셔서 감사합니다.</h3>

    <div id='button'>
        <form action="/">
            <input type=submit value='다른 기사 clean 댓글 보러가기'>
        </form>
    </div>
    <br><br>
    </div>
</div>
</body>
</body>
</html>