<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Khemi_GRAD project</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css') }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jua">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nanum Gothic">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
<div id="title">
  <center>
  <div id="header">
    <h1><br>EUTOPIA</h1>
    <h2>화학과 1512136 고수연, 1613362 김영빈</h2>
  </div>
  <!--//end #headern//-->
  <div id="pptlike">
  <blockquote>
    <p>기사 크롤링 > <b>본문</b> > 댓글 분석 > 결과</p>
  </blockquote>
  <div id="pptlike2">
  <div id='iframe'>
    <iframe src="{{url}}">{{title}} 기사 전문</iframe>
  </div>
  <br>
  <div id='button'>
    		<form action="/result">
    			<input type=submit value='댓글 분석 및 선플 모음 보기'>
    		</form>
      </div>
      <br><br>
  </div>
  </div>
  </center>
</div>
<!--//end #title//-->
</body>
</html>
